* {
  border: none;
  border-radius: 10;
  font-family: HackNerdFont;
  font-weight: bold;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: #15121b;
  color: #cdd6f4;
  border-radius: 10px;
  margin:100px;
}


window > box {

background-color: transparent;
margin: .3rem;
margin-bottom: 0;
padding: .9rem;

}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	min-width: 0;
	background: #0e1218;
	transition: none;
}

#tags button {
	min-width: 50px;
	transition: none;
	color: #dfd2c4;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #c5663d;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #cc8a5e;
    border-top: 2px solid #cc8a5e;
    border-bottom: 2px solid #cc8a5e;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ffffee;
    border-color: #ffffee;
    color: #ffffee;
}

#tags button.focused:hover {
    color: #ffffee;
}

#tags button.urgent {
        border-top: 2px solid #fb4934;
        border-bottom: 2px solid #fb4934;
}




#workspaces button {
  padding: 5px;
  color: #45475a;
  margin-right: 5px;
}

#workspaces button.active {
  color: #cdd6f4;
}

#workspaces button.focused {
  color: #cdd6f4;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-launcher {
  background: #15121b;
  padding-right: 7px;
}
#custom-language,
#custom-clock,
#pulseaudio,
#cpu,
#memory,
#network,
#tray,
#mode,

#tray {
  border-radius: 10px;
  margin-right: 4px;
  font-size: 19px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}



#inhibitor {
  background: #1e1e2e;
  color: #f5e0dc;
  border-radius: 10px 0px 0px 10px;
  padding-right: 12px;
  padding-left: 5px;
}

#custom-language {
  color: #f38ba8;
}

#cpu {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
  color: #f5c2e7;
}

#custom-clock {
  color: #f9e2af;
  border-radius: 10px;
  /* padding-right: 5px */
}

#network {
  color: #fab387;
}

#pulseaudio {
  color: #89b4fa;
}

#memory {
  color: #7dc4e4;
}

#mode {	
  color: #7dc4e4;
}


#tags {
  color: #89b4fa;
}

